/*Slider*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 11.35px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #dededf;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 28px;
    width: 29px;
    border-radius: 31px;
    background: #cdcdcd;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ebebec;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #dededf;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 28px;
    width: 29px;
    border-radius: 31px;
    background: #cdcdcd;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #d1d1d2;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #dededf;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 28px;
    width: 29px;
    border-radius: 31px;
    background: #cdcdcd;
    cursor: pointer;
    height: 5.3px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #dededf;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ebebec;
}


