#code {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
  width: 75%;
}

#fs {
  position: relative;
  left: 350px;
  top: 0px;
  bottom:-400px;
  z-index: 100;
}

#appletcontainer{
  position: relative;
  top: 0px;
  right: 0px;
  height: 450px;
  width: 450px;
  min-width:450px;
}

#applet {
  width: 100%;
  height: 100%;
}

#CSCanvas {
  left: 350px;
  top: -350px;
  width: 100%;
  height: 100%;
  margin: 0px !important;
}

.CodeMirror {
  background: rgba(0,0,0,0.8) !important;
  height: auto;
}

pre:hover code {
  font-weight: 400;
  background-color: white;
}

main {
  margin-right: 800px;
}
